<section id="aboutContent">
<div class="container">
<div id="transmitter">
    <section id="singlePageContent">
    <%= image_tag @user.avatar.url(:square), :class => "img-circle square" %>
    
		<%= render 'profile_page' %>
		<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
            <ul id="myTabPills" class="nav nav-pills" role="tablist">

                <li class="active"><a href="#completed" role="tab" data-toggle="tab">Completed Acts</a></li>
                <li><a href="#todo" role="tab" data-toggle="tab">To-do List</a></li>
                <li><a href="#friends-list" role="tab" data-toggle="tab">Friends</a></li>
            </ul>

            <div id="myTabContentPills" class="tab-content">
                <div class="tab-pane fade in active" id="completed">
                    <%= render 'acts/content'%>
                </div>

                <div class="tab-pane fade" id="todo">
                    <%=render 'users/todo_tab'%>
                </div>

                <div class="tab-pane fade in active" id="friends-list">
            	</div>

        	</div>
        </div>
        </div>

		<br>
		<br>

		<div class="row text-center">
			<%= link_to "Add new", new_act_path, :class => "btn btn-success", :type => "button" %>
			<%= link_to "To do list" , to_do_user_path(@user), :class => "btn btn-info", :type => "button" %>
		</div>

    </section>
</div>
</div>
</section>