<section id="aboutContent">
<div class="container">
<div id="transmitter">
    <section id="singlePageContent">
    
    	<%= image_tag @user.avatar.url(:square), :class => "img-circle square" %>
    
		<%= render 'profile_page' %>
		<% if current_user.following?(@user)%>
			
			<%= link_to "Unfollow #{@user.name}", unfollow_user_path(@user), :type => "button", :class => "btn btn-danger"%>
		<% else %>
			<%= link_to "Follow #{@user.name}", follow_user_path(@user), :type => "button", :class => "btn btn-success"%>
		<% end %>

		<br>
		<br>
		
		<%= render 'acts/content'%>
		<br>
		
		<%= link_to "#{@user.name}'s to do list" , to_do_user_path(@user), :class => "btn btn-info", :type => "button" %>
 	</section>
</div>
</div>
</section>