<!-- <div class="row index-main text-center">
<h1>Moral Bucket List</h1>
<h4>Become the person you want to be</h4>
<%= link_to 'Be inspired', '/' %> |
<% if current_user %>
	<%= link_to 'Profile', profile_path %> |
	<%= link_to 'Feed', '/dash' %>
<% else %>
	<%= link_to 'Start your journey', '/users/sign_up' %>
<% end %>
</div>

<div class="row index-about">
<h1>About</h1>
<p>Inspired by The Moral Bucket List, words words words.</p>
</div> -->

<!-- ADDING BOOTSTRAP THEME BELOW -->
    <body id="bigWrapper" data-target=".navbar-default" data-offset="100">


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* Intro  */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="intro">
            <!-- <div class="black-overlay"></div> -->
            <div class="container valign">
                <div class="row">
                    <!-- ***Insert Logo Here***
                    <div class="col-md-12">
                        <img src="img/logoWhite.png" class="img-responsive center-block introLogo" alt="Intro Logo">
                    </div> -->
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1><span class="serif">Moral Bucket List</span></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-4 col-md-4 introSmallCaption text-center">
                        <h4>Be a better you.</h4>
                        <p>
                            Some description or inspiring sentence.
                        </p>
                        <% if current_user %>
							<%= link_to 'See your journey', profile_path, class: "btn btn-default btn-white" %>
						<% else %>
							<%= link_to 'Begin your journey', '/users/sign_up', class: "btn btn-default btn-white" %>
						<% end %>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* END Intro  */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* TEXT SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="text-separator">
            <div class="container-fluid">

                <img src="img/textSeparatorLogo.png" class="textSepLogo" data-stellar-ratio="0.5" alt="Logo Black">

                <div class="row">
                    <div class="col-md-offset-3 col-md-6 text-center">
                        <h2 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                            <span class="serif">Welcome</span> 
                        </h2>

                        <img src="img/incline-white.png" class="inclineLine center-block" alt="incline">

                        <p data-scroll-reveal="enter left move 10px over 1s after 0.3s">
                            Inspired by the article The Moral Bucket List, we created this website to encourage you to become a better self. We believe that everyone has the potential to grow and give more love to the world. There are many random acts of kindness you can do in your daily life, and we want you to challenge yourself to do them. By creating and sharing them on our website, you remind yourself you can be a better you.
                        </p>
                    </div>
                </div>



            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* END TEXT SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* about SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="aboutIntro">

            <div class="container">

                <div class="parallaxIcon aboutParallax" data-stellar-ratio="0.1" data-stellar-vertical-offset="-100" >
                    <img class="img-responsive" src="img/parallax.png" alt="icon">
                </div>

                <!--header-->
                <div class="row sectionIntro">
                    <div class="col-md-6 col-md-offset-3 text-center"  data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                        <h1><span>About Us</span></h1>

                        <img src="img/incline-white.png" class="inclineLine center-block" alt="incline">
                        <h3><span class="serif">We want to make the world a better place.</span></h3>

                        <img src="img/zigzagsep.png" class="img-responsive center-block zigzagSep" alt="separator">
						
						<p data-scroll-reveal="enter left move 10px over 1s after 0.3s">
                            Aleka and Vicki blah blah blah.
                        </p>
                    </div>
                </div>
                <!--end header-->


            </div>

        </section>




        <section id="footer" class="dark">


            <div class="topLine clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 footerBox">

                            <img src="img/logoWhite.png" class="img-responsive footerLogo" alt="footer logo">
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 footerBox">

                            <h4>About Hero</h4>
                            <div class="lineSeparator"></div>
                            <p>
                                Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face snug. Introduced imprudence see say unpleasing devonshire.
                            </p>

                        </div>


                    


                        <div class="col-md-3 col-sm-6 col-xs-12 footerBox">
                            <h4>Contact Us</h4>
                            <div class="lineSeparator"></div>
                            <div class="row">

                                <div class="col-md-12">
                                    <ul class="infoContact">
                                        <li><a href="mailto:someone@example.com?Subject=HelloAgain" target="_top"><i class="fa fa-envelope-o"></i> mail@mail.com</a></li>
                                        <li><a href="mailto:someone@example.com?Subject=HelloAgain" target="_top">support@mail.com</a></li>
                                    </ul> 
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div class="bottomLine text-center">

                <div class="container">
                    <div class="row">


                        <div class="col-sm-12 text-right">
                            <div class="allIconsSocialWrapper center-block">

                                <!--icon-->
                                <div class="socialWrapper center-block black-icon">
                                    <div class="socialIcon-wrap socialIcon-effect-1 socialIcon-effect-1a">
                                        <div class="socialIcon">
                                            <a href="https://dribbble.com/artbreeze02"><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!--end icon-->

                                <!--icon-->
                                <div class="socialWrapper center-block black-icon">
                                    <div class="socialIcon-wrap socialIcon-effect-1 socialIcon-effect-1a">
                                        <div class="socialIcon">
                                            <a href="https://twitter.com/artbreeze02"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!--end icon-->

                                <!--icon-->
                                <div class="socialWrapper center-block black-icon">
                                    <div class="socialIcon-wrap socialIcon-effect-1 socialIcon-effect-1a">
                                        <div class="socialIcon">
                                            <a href="https://www.behance.net/artbreeze"><i class="fa fa-behance"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!--end icon-->


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

       
         <script>
            $.backstretch('http://www.designlovefest.com/wp-content/uploads/downloads/2014/07/WatercolorFloralBorder_by_JulieSongInk1.jpg');
        </script>

    </body>
</html>