<div class="row">
<div class="col-xs-12 col-sm-6 col-md-8 nav-title">
<%= link_to "Moral Bucket List", '/' %>
</div>
<div class="col-xs-6 col-md-4 text-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.name %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> | 
  <%= link_to "Your Profile", profile_path, :class => 'navbar-link' %> | 
  <%= link_to "Random Acts of Kindness", acts_path, :class => 'navbar-link' %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</div>
</div>