<h1> <%=@user.name%>'s Random Acts of Kindness </h1>

<% @acts.each do |act| %>

	<p><%= link_to act.name, act_path(act) %> | blurb: <%=act.blurb%> </p>

	<% if @is_owner %>
		<%= link_to "Edit", edit_act_path(act)%> | <%= link_to 'Destroy', act_path(act), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>

