<div class = "row">
  <div class = "col-md-6 col-md-offset-3 text-left">
<%= simple_form_for @act do |f| %>
	

	<% if @act.errors.present? %>
		<%= @act.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	<% end %>

	<p>
    <%= f.input :name %><br>
 	</p>

 	<p>
    <%= f.input :blurb %><br>
 	</p>
  <p>
  <%=f.input :startdate, as: :datetime_picker, :class => "btn-primary", :label => '(optional) Date & Time: '%>
  </p>
  <p>
    <%= f.input :address, :label => "(optional) Address: "%>
  </p>
 	<p>
 	<%= f.label :karma_points %><br>
    <%= f.number_field :karma_points, in: 1..5 %>
 	</p>

 	
  <p>
    <%= f.submit %>
  </p>
<% end %>
  </div>
</div>