<section id="aboutContent">
<div class="container">
<!--content-->
<div id="transmitter">
    <!--section-->
    <section id="singlePageContent">
        <div class="container">

            <div class="row text-center">
                <h1><%= @act.name %></h1>
                
                <ul>
                    <li class="info-item">
                        <p>
                            <span>Karma Points:</span><br>
                            <%= @act.karma_points %>
                        </p>
                    </li>
                    <li class="info-item">
                        <p>
                            <span>People with this goal:</span><br>
                            <%= @act.users.count %>
                        </p>
                    </li>
   
                </ul>
            </div>
            <!--content-->
            <div class="content">

                <div class="row">

                    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                        <!-- article-->
                        <div id="post">

                            <div id="caption">
                            <br>
                                <p class="excerpt"><%= @act.blurb %></p>
                                <p class = "excerpt">Starting Time: <%= @act.startdate%></p>
                                <p class = "excerpt">Address : <%= @act.address%></p>
                                
                                <br>

                                <%= link_to "add to your to-do list", add_to_do_act_path(@act), :type => "button",  :class => "btn btn-info" %> 
                                <br>
                                <br>
                                <%= link_to "I've already done this!", add_to_done_act_path(@act), :class => "btn btn-info", :type => "button" %>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
</div>
</div>
</section>
