<section id="aboutContent">
<div class="container">
<!--content-->
<div id="transmitter">
    <!--section-->
    <section id="singlePageContent">
        <div class="container">

            <div class="row text-center">
                <h1><%= @act.name %></h1>
                
                <ul>
                    <li class="info-item">
                        <p>
                            <span>Karma Points:</span><br>
                            <%= @act.karma_points %>
                        </p>
                    </li>
                    <li class="info-item">
                        <p>
                            <span>People with this goal:</span><br>
                            <%= @act.users.count %>
                        </p>
                    </li>
   
                </ul>
            </div>
            <!--content-->
            <div class="content">

                <div class="row">

                    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                        <!-- article-->
                        <div id="post">

                            <div id="caption">

                                <p class="excerpt"><%= @act.blurb %>
                                </p>
                                
                                
                                <br>

                                <%= link_to "add to your to-do list", add_to_do_act_path(@act), :type => "button",  :class => "btn btn-info" %> 
                                <br>
                                <br>
                                <%= link_to "I've already done this!", add_to_done_act_path(@act), :class => "btn btn-info", :type => "button" %>

                            </div>
                        </div>
                        <!-- end article-->
                    </div>


                </div>

                <!-- <div class="row singleImageWrapper" data-scroll-reveal="enter top move 30px over 1s after 0.2s">
                    <div class="col-md-12">
                        <img src="img/background1.jpg" alt="single project Info" class="img-responsive center-block">
                    </div>
                </div>

                <div class="row singleImageWrapper" data-scroll-reveal="enter top move 30px over 1s after 0.2s">
                    <div class="col-md-6">
                        <img src="img/gallery/1.jpg" alt="single project Info" class="img-responsive center-block">
                    </div>
                    <div class="col-md-6">
                        <img src="img/gallery/2.jpg" alt="single project Info" class="img-responsive center-block">
                    </div>
                </div> -->


            </div>
            <!--end content-->

        </div> <!-- /container -->

    </section>
    <!--end section-->

</div>
<!--end content-->
</div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END about SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->